body {
    display: flex;
    justify-content: center;
}

.container {
    width: 30%;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid black;
    background-color: rgb(255, 248, 241);
    box-shadow: 1px 1px 5px rgba(0,0,0,.3);
    transition: .5s all;
}

.container:hover {
    transform: scale(.9);
}