body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 20%;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid black;
    background-color: rgb(255, 248, 241);
    box-shadow: 1px 1px 5px rgba(0,0,0,.3);
    transition: .5s all;
}
.container.big {
    width: 40%;
}

button {
    margin-top: 1rem;
    padding: .4rem 1.5rem;
    border-radius: .2rem;
    cursor: pointer;
    border: 1px solid black;
    
}
button:hover {
    background-color: #ddd;
}